md-dialog(aria-label="Management",ng-cloak)
	md-toolbar
		div(class="md-toolbar-tools")
			h2 Management
			span(flex)
				md-button(class="md-icon-button",ng-click="closeDialog($event)")
					md-icon(aria-label="Close dialog") close
	md-content(style="padding:10px;")
		form(name="formDefault",novalidate)
			input(name="uid",type="text",ng-model="forms.uid",ng-init="forms.uid=uidUpdate",style="display:none;")

			//input(name="statusFlag",type="checkbox",ng-model="forms.statusflag",ng-true-value="'A'",ng-false-value="'I'")
			md-switch(name="statusFlag",ng-model="forms.statusflag",ng-init="forms.statusflag=statusflagUpdate",ng-true-value="'A'",ng-false-value="'I'",aria-label="StatusFlag")

			md-input-container(class="md-block")
				md-icon fingerprint
				input(name="code",ng-model="forms.code",type="text",placeholder="Code",ng-init="forms.code=codeUpdate",required,ng-minlength="3",ng-maxlength="10",autocomplete="off")
			//input(name="code",type="text",placeholder="Code",class="form-control",style="width:200px;",ng-model="forms.code",ng-init="forms.code=codeUpdate",required,ng-minlength="3",ng-maxlength="10",autocomplete="off")
			div(class="alert alert-danger",ng-show="formDefault.code.$touched && formDefault.code.$invalid")
				a(href="#",class="close",data-dismiss="alert",aria-label="close") &times;
				strong Fail! 
				span Some reason.
			md-input-container(class="md-block")
				md-icon art_track
				input(name="name",type="text",placeholder="Name",ng-model="forms.name",ng-init="forms.name=nameUpdate",required,ng-minlength="3",ng-maxlength="100",autocomplete="off")
			//input(name="name",type="text",placeholder="Name",class="form-control",style="width:200px;",ng-model="forms.name",ng-init="forms.name=nameUpdate",required,ng-minlength="3",ng-maxlength="100",autocomplete="off")
			div(class="alert alert-danger",ng-show="formDefault.name.$touched && formDefault.name.$invalid")
				a(href="#",class="close",data-dismiss="alert",aria-label="close") &times;
				strong Fail! 
				span Some reason.
			div
				md-button(class="md-raised md-primary",ng-disabled="formDefault.$invalid",ng-click="Submit()") Submit
				md-button(class="md-raised md-warn",ng-click="Cancel()") Cancel