div(ng-app="site")
	div(ng-controller="SiteController as c")
		md-toolbar(class="md-table-toolbar md-default")
			div(class="md-toolbar-tools")
				h2 Site List
				div(flex)
				md-button(ng-click="ShowModalInsert($event)",class="md-fab md-mini md-primary md-hue-2",arial-label="Add New")
					md-icon add
					md-tooltip(md-direction="left") Add New
		md-table-container
			table(md-table,md-row-select,md-progress="promise")
				thead(md-head)
					tr(md-row)
						th(md-column,style="text-align:center;") Active
						th(md-column,style="text-align:center;") Code
						th(md-column) Name
						th(md-column,style="text-align:center;") LastModify
						th(md-column)  
				tbody(md-body)
					tr(md-row,md-auto-select,ng-repeat="result in results")
						td(md-cell,style="text-align:center;")
							md-switch(ng-model="result.statusflag",ng-true-value="'A'",ng-false-value="'I'",aria-label="StatusFlag",ng-change="UpdateStatusFlag(result.uid,result.name,result.statusflag)")
						td(md-cell,style="text-align:center;") {{ result.name }}
						td(md-cell) {{ result.detail }}
						td(md-cell,style="text-align:center;") {{ result.mwhen | date:"dd/MM/yyyy HH:mm" }}
						td(md-cell,style="text-align:center;")
							section(layout="row",layout-align="center center")
								md-button(ng-click="ShowModalUpdate(result,$event)",class="md-fab md-mini md-primary")
									md-icon mode_edit
									md-tooltip(md-direction="top") Edit
								md-button(ng-click="Delete($event,result.uid)",class="md-fab md-mini md-warn")
									md-icon remove
									md-tooltip(md-direction="top") Delete
				tfoot(md-head)
					tr(md-row)
						th(md-column,style="text-align:center;") Active
						th(md-column,style="text-align:center;") Code
						th(md-column) Name
						th(md-column,style="text-align:center;") LastModify
						th(md-column)  
		div
			{{ message }}